.health-effects {
    padding: 60px 10vw 70px;
    background-color: var(--background);
}

.health-wrapper h2 {
    font-family: "Fredoka", sans-serif;
    font-variation-settings:
    "wdth" 100;
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 0.1px;
    color: rgb(220, 220, 220);
    text-shadow: 3px 3px 2px var(--background);
    margin-bottom: 14px;
}

.health-wrapper p {
    font-weight: 300;
    font-size: 21.5px;
    color: var(--text);
    max-width: 760px;
    margin-bottom: 40px;
}

.effects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 25px;
}

.effect-item {
    background: var(--text);
    border-radius: 10px;
    padding: 20px 20px 0px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.06);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.effect-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.12);
}

.effect-item .icon {
    font-size: 31px;
    color: var(--accent);
    margin-bottom: 12px;
}

.effect-item h4 {
    font-size: 21.5px;
    margin-bottom: 5px;
    color: var(--background);
}

.effect-item p {
    font-weight: 400;
    font-size: 18.8px;
    color: black;
    margin-bottom: 35px;
}



@media (max-width: 1150px) {
.health-effects {
    padding: 55px 10vw;
}

.health-wrapper h2 {
    font-size: 28px;
    margin-bottom: 15px;
    text-align: center;
}

.health-wrapper p {
    margin-bottom: 45px;
    text-align: center;
}

.effects-grid {
    gap: 20px;
}

.effect-item {
    padding: 20px 20px 0px;
    text-align: center;
}

.effect-item .icon {
    font-size: 30px;
    margin-bottom: 10px;
}

.effect-item h4 {
    font-size: 20.5px;
    margin-bottom: 5px;
}

.effect-item p {
    font-size: 18.5px;
    text-align: center;
    margin-bottom: 27px;
}
}



@media (max-width: 685px) {
.health-effects {
    padding: 40px 7vw;
}

.health-wrapper h2 {
    font-size: 27px;
}

.health-wrapper p {
    margin-bottom: 40px;
}

.effects-grid {
    gap: 18px;
}

.effect-item {
    padding: 18px 20px 0px;
}

.effect-item .icon {
    font-size: 27px;
}

.effect-item h4 {
    font-size: 21.5px;
}

.effect-item p {
    font-size: 18.9px;
    border-bottom: 30px;
}
}