.join {
    padding: 60px 10vw 90px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--second-background);
}

.join .join-top {
    width: 55%;
}

.join-top h2 {
    font-family: "Fredoka", sans-serif;
    font-variation-settings:
    "wdth" 100;
    font-weight: 600;
    font-size: 30px;
    letter-spacing: 0.1px;
    color: var(--background);
    text-shadow: 1px 1px 1px rgb(228, 228, 228);
    margin-bottom: 18px;
}

.join-top p {
    font-weight: 400;
    font-size: 21px;
    color: black;
    margin-top: 14px;
}

.join-top .join-btn {
    margin-top: 38px;
    display: flex;
    gap: 20px;
}

.join-btn a {
    width: fit-content;
    padding: 12px 25px;
    transition: 0.3s ease;
    border-radius: 5px;
    background: var(--button);
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 21px;
    font-weight: 500;
    color: white;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
}

.join-btn a:last-child {
    background: var(--accent);
}

.join img {
    width: 42%;
    border: 3px solid var(--accent);
    border-right: none;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}



@media (max-width: 1150px) {
.join {
    flex-direction: column;
    gap: 55px;
    justify-content: flex-start;
    text-align: center;
    padding: 55px 10vw 80px;
}

.join .join-top {
    width: 100%;
}

.join-top h2 {
    width: 75%;
    margin: 0 auto 18px;
    font-size: 28px;
    margin-bottom: 13px;
}

.join-top p {
    margin-top: 12px;
}

.join-top .join-btn {
    margin-top: 35px;
    justify-content: center;
    gap: 15px;
}

.join-btn a {
    padding: 11px 25px;
}

.join img {
    width: 60%;
    border: 2px solid var(--accent);
    border-right: none;
}
}



@media (max-width: 685px) {
.join {
    gap: 60px;
    padding: 45px 0vw 0px;
}

.join .join-top {
    width: 100%;
    padding: 0 7vw;
}

.join-top h2 {
    width: 100%;
    font-size: 27px;
}

.join-top .join-btn {
    flex-direction: column-reverse;
    align-items: center;
    gap: 15px;
}

.join-btn a {
    padding: 12px 25px;
}

.join img {
    width: 100%;
    border: none;
    border-bottom-left-radius: 0;
}
}