@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

:root {
  --text: rgb(208, 208, 208);
  --background: #050017;
  --second-background: whitesmoke;
  --header-color: rgb(240, 240, 240);
  --button: #d89e0b;
  --accent: #81AB3F;

  --fontH-third-f: 22px;
  --fontP-footer-f: 18.9px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

p {
  line-height: 1.2;
}

ul {
  list-style: none;
}

body {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  scroll-behavior: smooth;
  transition: 0.3s;
}
button:hover {
  border-color: #646cff;
}
